body {
    text-align: center;
}

h1 {
    color: red;
    opacity: 0.4;
    font-size: 40px;
    text-align: center;

}

p {
    margin: 10px auto;
}

a {
    text-decoration: none;

}